$c-green: #5D9983;
$c-darkgreen: #336f59;
$c-lightgreen: #c2e0d5;
$c-brown: #B7AB92;
$c-darkbrown: #968767;
$c-red: #D03427;
$c-orange: #EA8923;
$c-lightgray: #EEEEEE;
$c-blue: #77bfd3;

.back-link {
    color: $c-darkbrown;

    &:hover {
        color: $c-darkgreen;
    }
}

.back {
    font-size: 0.9rem;
    // margin-bottom: 50px;
    
}
.back-arrow {
    margin-right: 15px;
}