$c-green: #5D9983;
$c-lightgreen: #c2e0d5;
$c-brown: #B7AB92;
$c-darkbrown: #968767;
$c-red: #D03427;
$c-orange: #EA8923;
$c-lightgray: #EEEEEE;

@font-face {
  font-family: 'Monofett Regular';
  src: url('./assets/fonts/Monofett-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ruslan Display';
  src: url('./assets/fonts/RuslanDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Righteous';
  src: url('./assets/fonts/Righteous-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rock3D';
  src: url('./assets/fonts/Rock3D-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik Microbe';
  src: url('./assets/fonts/RubikMicrobe-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik Glitch';
  src: url('./assets/fonts/RubikGlitch-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik Bubbles';
  src: url('./assets/fonts/RubikBubbles-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Margasa';
  src: url('./assets/fonts/Maragsa-Display.otf') format('truetype');
}
@font-face {
  font-family: 'Doppelganger';
  src: url('./assets/fonts/Doppelganger Display.otf') format('truetype');
}
@font-face {
  font-family: 'Branch';
  src: url('./assets/fonts/Branch.ttf') format('truetype');
}
@font-face {
  font-family: 'Creamy Peachy';
  src: url('./assets/fonts/Creamy Peachy.ttf') format('truetype');
}
@font-face {
  font-family: 'Tears of Joy';
  src: url('./assets/fonts/Tears of Joy.ttf') format('truetype');
}
@font-face {
  font-family: 'Neutro';
  src: url('./assets/fonts/Neutro-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Polite Type';
  src: url('./assets/fonts/PoliteType-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cyrene';
  src: url('./assets/fonts/Cyrene.otf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
